.login {
  &-container {
    padding: 5px 1rem;
  }
  &-form {
    padding: 40px 40px;
    background-color: var(--third-color);
    border-radius: 0;
  }
}
@media screen and (min-width: 1024px) {
  .login {
    &-container {
      padding: 15px 15rem;
    }
    &-form {
      padding: 15px 40px;
    }
  }
}
