.wrapper {
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper img {
  padding: 0rem;
  border-radius: 0px;
}
.wrapper .card-title {
  font-weight: bold;
  margin: 0;
  color: var(--c1);
}

.wrapper .price-title {
  font-size: 12px;
}
.wrapper .price-body {
  font-size: 20px;
  font-weight: bold;
}
.wrapper .btn-add-to-cart {
  border: 1px solid var(--c1);
  font-weight: bold;
  border-radius: 0;
  align-items: center;
  &:hover {
    border: 1px solid var(--c2) !important;
    color: var(--c2) !important;
  }
}
.wrapper .card {
  border-radius: 0;
  border: 0px;
  .card-text {
    font-size: 14px;
  }

  height: 20rem;
  line-height: 1.2em;

  transition: 0.3s;
  &:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px,
      rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px,
      rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
  }
}
// .wrapper .card:hover button{
//     color: white;
// }
.rating-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
}
