.wrapper{
  
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper img{
    padding: 1rem;
}
.wrapper .card-title{
    font-weight: bold;
    margin: 0;
}
.wrapper .card{
    border-radius: 1.25rem;
}
.wrapper .price-title{
    font-size: 12px;
}
.wrapper .price-body{
    font-size: 20px;
    font-weight: bold;
}
.wrapper .btn-add-to-cart{
    border: 1px solid var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
    align-items: center;
}