:root {
  --primary-color: #4e1681;
  --secondary-color: #f05d5d;
  --third-color: #f1ece8;
  --fourth-color: #fff;
}

@font-face {
  font-family: Gantari Regular;
  src: url("../src/assets/fonts/Gantari-Regular.ttf");
}

* {
  font-family: "Gantari Regular", sans-serif;
}
.bg-pri {
  background-color: var(--primary-color);
}
.btn-pri-outline {
  color: var(--fourth-color);
  border-color: var(--fourth-color);
  &:hover {
    color: var(--primary-color);

    background-color: var(--fourth-color);
  }
}
