@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
  --c1: #f6416c;
  --c2: #ffde7d;
  --c3: #00b8a9;
  --c4: #f8f3d4;
  --c5: #e7d1c7;
}

@font-face {
  font-family: PTSans Regular;
  src: url("../src/assets/fonts/PTSans-Regular.ttf");
}
@font-face {
  font-family: PTSans Bold;
  src: url("../src/assets/fonts/PTSans-Bold.ttf");
}

* {
  font-family: "PTSans Regular", sans-serif;
}

h3 {
  font-family: "PTSans Bold", sans-serif;
  color: var(--c1);
}
.bg-pri {
  background-color: var(--c4);
}
.font-pri {
  color: var(--c1);
}
.font-sec {
  color: var(--c2);
}
.btn-pri-outline {
  color: var(--c1);

  background-color: var(--c4);
  border: 1px solid var(--c1);
}

.btn-pri {
  color: var(--c4);
  border-color: var(--c1);
  background-color: var(--c1);
  &:hover {
    color: var(--c1);
    background-color: var(--c4);
  }
}

.section-title-btn {
  color: var(--c3);
  margin-bottom: 0;
}

button,
input {
  box-shadow: none !important;
}

.navbar {
  background-color: var(--c4);
}
