@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
:root {
  --c1: #ff165d;
  --c2: #ff9a00;
  --c3: #3ec1d3;
  --c4: #ffff;
  --c5: #fff;
}

@font-face {
  font-family: PTSans Regular;
  src: url("../src/assets/fonts/PTSans-Regular.ttf");
}
@font-face {
  font-family: PTSans Bold;
  src: url("../src/assets/fonts/PTSans-Bold.ttf");
}
@font-face {
  font-family: Poppins Bold;
  src: url("../src/assets/fonts/Poppins-Bold.ttf");
}

* {
  font-family: "PTSans Regular", sans-serif;
}

#app-logo {
  font-family: "Poppins Bold";
}
h3 {
  font-family: "PTSans Bold", sans-serif;
  color: var(--c1);
}
.bg-pri {
  background-color: var(--c4);
}
.font-pri {
  color: var(--c1);
}
.font-sec {
  color: var(--c2);
}
.btn-pri-outline {
  color: var(--c1);

  background-color: var(--c4);
  border: 1px solid var(--c1);
}

.btn-pri {
  color: var(--c4);
  border-color: var(--c1);
  background-color: var(--c1);
  &:hover {
    color: var(--c1);
    background-color: var(--c4);
  }
}

.section-title-btn {
  color: var(--c2);
  margin-bottom: 0;
}

button,
input {
  box-shadow: none !important;
}

.navbar {
  background-color: var(--c4);
}
