.font-pri .navbar-nav .nav-link,
.mat-icon-pri {
  color: var(--c1);

  &:hover {
    color: var(--c4);
    background-color: var(--c2);
  }
}
.font-pri .navbar-nav .nav-link span {
  font-family: "PTSans Bold", sans-serif;
}

@media screen and (max-width: 576px) {
  .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.cart-margin {
  margin: 10px 10px 0px 0px;
}

.nav-item:hover {
  background-color: var(--c2);
  color: var(--c4) !important;
}

.logo-name {
  font-family: "Courier New", Courier, monospace;
}
